@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #1d2951;
    background: linear-gradient(to right, #0a0a2b,#001f3f);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    background-color: #1a1a2e;
    padding: 20px;

    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 300px;

}
.remember{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
    color: #F4F4F4;
}
.remember:hover{
    color: #007bff;
}
.container h1{
    text-align: center;
    color: #F4F4F4;
    letter-spacing: 1.4px;
    margin: 20px 0;
    font-weight: 700;
    font-size: 2rem;
    font-family:'Roboto',sans-serif;
    
}

    .social-icons{
        margin: 20px 0;
        text-align: center;
    }
    
    .social-icons a{
        border: 1px solid #F4F4F4;
        border-radius: circle 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 40px;
        height: 40px;
        color: #0056b3;
        
    }
    .social-icons :hover{
        background-color: #0056b3;
        color: #e0e0e0;
    }
    .line-container {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        font-size: 0.85rem;
        color: #dcdcdc;

    }
    .line-container::before,
    .line-container::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #F4F4F4;}
    .line-container:not(:empty)::before {
        margin-right: 10px;
    }
    .line-container:not(:empty)::after {
        margin-left: 10px;
    }
    .Already{
        color: #F4F4F4;
        font-size: 15px;
        font-style: italic;
        padding-right: 0px;
        text-align: center;
    }
    .same-line{
        display: inline;
        
    }
    .button-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .button {
        background-color: #0056b3;

        color: #F4F4F4;
        width: 120px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: 'montserrat',sans-serif;
        font-size: 1rem;
    }
    .button-container1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0px;
    
    }
    .button-container :hover {
        color: #0056b3;
        background-color: #ffffff;
    }
    
    .button-container1 :hover {
        color: #b6c7da;
        background-color: #8b8b8b;
    }
    
    .button1 {
        background-color: #007bff;

        color: #F4F4F4;
        width: 60px;
        height: 30px;
        border-radius: 7px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: 'montserrat',sans-serif;
    }
    
    .inline-inputs {
        display: flex;
        gap: 10px;
    }
    .icons{
        background-color: #F4F4F4;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px ;
        padding: 0 14px;
        border-radius: 12px;
        width: 97%;
        
    }
    .forgot-password {
        display: block;
        margin: 10px 0;
        color: #F4F4F4;
        text-align: right;
        text-decoration: none;
        padding-right: 20px;
    }
    .forgot-password:hover{
        color: #007bff;
    }
    .form1{
        justify-content: center;
     background-color: #F4F4F4;
    border: none;
    border-radius: 10px;
    margin: 8px 0;
    padding: 10px;
    font-size: 0.9rem;
    width: 95%;
    outline: none;
    font-family: 'roboto',sans-serif;
        
    }
    /*to add roll number*/
   /* .icons1{
        background-color: #F4F4F4;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px ;
        padding: 0 14px;
        border-radius: 12px;
        width: 97%; 
    }
    .form2{
        justify-content: center;
     background-color: #F4F4F4;
    border: none;
    border-radius: 10px;
    margin: 8px 0;
    padding: 10px;
    font-size: 13px;
    width: 95%;
    outline: none;
    gap: 0px;
        
    }
    */
   